.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form_wrap{
    width: 450px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    padding: 48px 24px 48px;
}