<div class="cover">
    <div class="wrap">
        <h1 class="header">Учите слова онлайн</h1>
        <p class="descr">Воспользуйтесь карточками для запоминания и пополнения активныйх словарных запасов</p>
    </div>
</div>